@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: #f5f5f5;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header, main, footer{
    width: 1160px;
    margin: auto;
    background-color: #ffffff;
    margin-top: 0px;
}

h1, h2{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/*HEADER PART*/

/*Header: Partie gauche*/
header{
    background-color: #17abb3;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header__photo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
}

figure{
    width: 150px;
    height: 150px;
}

figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

/*Header: Partie droite*/
.header__profile{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 65%;
    padding: 35px 15px;
}

.header__profile h1{
    font-size: 3em;
    margin: 0px;
}

.header__profile h2{
    font-size: 2em;
    margin-top: 5px;
}

.header__profile__item{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 0px 20px;
    margin: 2px;
}

.header__profile__item-2{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
    width: 30%;
}

.header__profile__item-2 a{
    text-decoration: none;
    color: #ffffff;
}

.header__profile__item-3{
    display: flex;
    flex-flow: row wrap;
    justify-content:left;
    gap: 10px;
}

.header__profile__item svg{
    width: 15px;
    height: 15px;
}

/*MAIN PART*/

main {
    display: flex;
    flex-flow: row wrap;
}

/*Main: partie <aside>*/
aside{
    display: flex;
    flex-flow: column wrap;
    padding: 25px 35px;
    width: 35%;
    box-sizing: border-box;/*marges internes et externes comprises dans les dimensions*/
    background-color: #e3e3e3;
}

.aside__block{
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
}

.aside__block h2{
    border-bottom: 1.5px solid rgba(51, 51, 51, 0.212);
    padding-bottom: 10px;
    color: #17abb3;
    font-size: 2em;
}

/*Compétences*/

.competences{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.competences p{
    font-weight: bold;
    font-size: 18px;
}

.competences__svg{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.competences__svg svg{
    width: 23px;
    height: 23px;
    color: red;
}

/*Langues*/

.languages{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.languages__item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 19px;
}

.languages__p2{
    font-size: 21px;
    font-weight: 400;
}

/*Qualités & Centres d'intérêt*/

.aside__list{
    list-style: none;
    font-size: 21px;
    font-weight: 400;
}

.aside__list li::before{
    content: "\25AA"; color:#17abb3;
    display: inline-block; width: 2em;
    font-weight: bold;
    margin-left: -1em;
}


/*Main: partie class="main__section">*/

.main__section{
    display: flex;
    flex-flow: column wrap;
    padding: 25px 35px;
    width: 65%;
    box-sizing: border-box;/*marges internes et externes comprises dans les dimensions*/
    background-color: #ffffff;
}

.main__section h2{
    color: #17abb3;
    font-size: 2em;
    margin-top: 31px;
    border-bottom: 1.5px solid rgba(51, 51, 51, 0.212);
    padding-bottom: 10px;
    font-size: 2em;
}

.main__section__item-1, .main__section__item-2 h2{
    margin-bottom: 10px;
}

.main__section__item-1 p{
    text-align: justify;
    text-indent: 50px;
}

.main__section__education{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.main__section__education-year{
    color: #17abb3;
    font-size: 20px;
}

.main__section__education-diploma{
    display: flex;
    flex-flow: column wrap;
}

.main__section__education-diploma p{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
}

/*FOOTER PART*/
footer{
}

